*{
    margin:0;
    padding:0;
}
body{
    padding:20px;
    margin: 20px 20px 20px 40px;
    font-family: Arial, sans-serif;
}
span{
    margin-right: 50px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #e3e3e3;
    border-radius: 5px;
    background-color: #e3e3e3;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
}
.course_week{
    display: flex;
    margin-top: 20px;
}
.course_options{
    display:inline-flex;
    margin-top: 15px;
    justify-content: space-between;
}
.course_topic{
    align-items: center;
    margin-top: 5px;
}
.option_1{
    margin-right: 15px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #d59bf6;
    border-radius: 5px;
    background-color: #d59bf6;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}
.option_2{
    margin-right: 15px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #83cee0;
    border-radius: 5px;
    background-color: #83cee0;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}
.option_3{
    margin-right: 15px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #ffaaa5;
    border-radius: 5px;
    background-color: #ffaaa5;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}
.option_4{
    margin-right: 15px;
    display: inline-flex;
    padding: 5px;
    border: 2px solid #7dd87d;
    border-radius: 5px;
    background-color: #7dd87d;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}
.option_5{
    margin-top: 20px;
    display:inline-block;
    padding: 5px;
    border: 2px solid #7dd87d;
    border-radius: 5px;
    background-color: #7dd87d;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}